{% extends "base.html" %}

{% block content %}
    <h1>Vozilo</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.broj_sasije.label }}<br>
            {{ form.broj_sasije }}<br>
            {% for error in form.broj_sasije.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.marka.label }}<br>
            {{ form.marka }}<br>
            {% for error in form.marka.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tip.label }}<br>
            {{ form.tip }}<br>
            {% for error in form.tip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}